<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <link rel="stylesheet" href="/static/tools.css" type="text/css">
        <link rel="stylesheet" href="/static/add-favorites.css" type="text/css">
    </head>
<body>
    <div class="popout-mask scroll_wrap">
        <div class="scrolling flex col">
            <div class="item flex row">
                <div class="pfp"></div>
                <span>Chat 1</span>
            </div>
            <div class="item flex row">
                <div class="pfp"></div>
                <span>Chat 2</span>
            </div>
            <div class="item flex row">
                <div class="pfp"></div>
                <span>Chat 3</span>
            </div>
        </div>
    </div>
</body>
</html>