<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <link rel="stylesheet" href="/static/chats-sidebar.css" type="text/css">
    </head>
<body>
    <div class="sidebar">
        <div class="chat">
            <div class="pfp-container">
                <div class="pfp"></div>
                <div class="pfs"></div>
            </div>
            <div class="who">
                <div class="top-row">
                    <h3> Warp1</h3>
                    <span class="timestamp">
                        10:00
                    </span>
                </div>
                <div class="msg-container">
                    <span class="msg">
                        hello there you. this is a message for you. a very very message. and the message is abcdefghijklmnopqrstuvwxyz
                    </span>
                    <div class="unread-count">
                        <span>4</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat">

        </div>
        <div class="chat">
            <div class="pfp"></div>
            <div class="pfs"></div>
            <div class="who">
                <div class="top-row">
                    <h3> Warp3</h3>
                    <span class="timestamp">
                        11:00
                    </span>
                </div>
                <div class="msg-container">
                    <span class="msg">
                        hello there you. this is a message for you. 
                        a very very message. and the message is abcdefghijklmnopqrstuvwxyz
                    </span>
                    <div class="unread-count">
                        <span>4</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat">

        </div>
        <div class="chat">
            <div class="pfp"></div>
            <div class="pfs"></div>
            <div class="who">
                <div class="top-row">
                    <h3> Warp5</h3>
                    <span class="timestamp">
                        12:00
                    </span>
                </div>
                <div class="msg-container">
                    <span class="msg">
                        hello there you. this is a
                        message for you. a very 
                    </span>
                    <div class="unread-count">
                        <span>4</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat">

        </div>

    </div>
    <div class="compose">

    </div>
</body>
</html>