<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <link rel="stylesheet" href="/static/tools.css" type="text/css">
        <link rel="stylesheet" href="/static/favorites.css" type="text/css">
    </head>
<body>
    <label>Favorites</label>
    <div class="favorites">
        <div class="labeled flex col">
            <button id="new-btn">+</button>
            <span>New Chat</span>
        </div>
        <div class="labeled">
            <div class="wrapper">
                <div class="pfp"></div>
                <div class="pfs"></div>
            </div>
            <span>Chat 1</span>
        </div>
        <div class="labeled">
            <div class="wrapper">
                <div class="pfp"></div>
                <div class="pfs"></div>
            </div>
            <span>Chat 2</span>
        </div>
        <div class="labeled">
            <div class="wrapper">
                <div class="pfp"></div>
                <div class="pfs"></div>
            </div>
            <span>Chat 3</span>
        </div>
    </div>
</body>
</html>