<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <link rel="stylesheet" href="/static/files-sidebar.css" type="text/css">
    </head>
<body>
   <div id="files">
        <div id="sidebar" class="tree noselect">
            <div class="tree_wrapper">
                <label class="tree_folder root">
                    <div class="row">
                        <span class="closed">C</span>
                        <span class="open">O</span>
                        Folder 1
                    </div>
                    <input type="checkbox"/>
                    
                    <label class="tree_folder">
                        <div class="row">
                            <span class="closed">C</span>
                            <span class="open">O</span>
                            Subfolder 1
                        </div>
                        <input type="checkbox"/>
                        <a class="tree_item">
                            <div class="row">
                                <span>D</span>
                                Item
                            </div>
                        </a>
                    </label>
                </label>
            </div>
    </div>
   </div>
</body>
</html>