<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <link rel="stylesheet" href="/static/chats-sidebar-styles.css" type="text/css">
    </head>
<body style="display:flex; flex-direction:column; justify-content:space-between;">
    <span>Welcome to the CSS test bench. try the following pages </span>
    <a href="chats-sidebar">Chats Sidebar</a>
    <a href="files-sidebar">Files Sidebar</a>
    <a href="favorites">Favorites</a>
    <a href="add-favorites">Add Favorites</a>
    <a href="play-video">Play Video</a>
    <a href="webgl-tutorial">WebGl Tutorial</a>
    <a href="gst-sendrcv-demo">Gst SendRcv Demo</a>
    <a href="webrtc-test1">WebRTC Test 1</a>
    <a href="modal">modal</a>
</body>
</html>