<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <link rel="stylesheet" href="/static/tools.css" type="text/css">
        <link rel="stylesheet" href="/static/modal.css" type="text/css">
    </head>
<body>
    <label>Modal</label>
    <div class="modal-wrapper">
        <div class="modal flex col">
            <div class="flex row" >
                <button>button text</button>
            <p>some text</p>
            </div>
            <p>more text</p>
        </div>
    </div>
</body>
</html>