body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.sidebar {
    flex: 1;
    background-color: brown;
    display: flex;
    flex-direction: column;
}

.compose {
    flex: 5;
    background-color: green;
}

.chat {
    border-style: solid;
    border-color: black;
    cursor: pointer;
    display: flex;
    flex-direction: row;
  
    height: 6em;
    width: 100%;
}

.pfp-container {
    align-self: center;
    display: flex;
    flex-direction: row;
}
.pfp {
    background: gray;
    border-radius: 25px;
    height: 50px;
    width: 50px;
    /*this is required to prevent a message from squashing the circle/profile picture*/
    min-width: 50px;
    margin-left: 10px;
   /* margin right given by pfs */
  
}

.pfs {
    position: relative;
    background: blue;
    border-color: brown;
    border-radius: 10px;
    height:20px;
    width: 20px;
    min-width: 20px;

    top: 30px;
    right: 15px;
}

.who {
    display: flex;
    flex-direction: column;
}

.top-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.timestamp {
    padding-right: 2em;
}


.msg-container {
    display: flex;
    flex-direction: row;
}

.msg {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

}

.unread-count {
    align-self: center;
    padding-right:2em;
}
